@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    width: 100px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}

span {
    font-weight: bold;
}